<div class='well well-lg' id='container-well'>
  <div class='well'>
<h1>About</h1>
  </div>
  <div class='well'>
<h4>Brain Departments</h4> Brain Departments is a web application that I'm making for fun, and experience. The goal of the application is to be an enviornment wherer the users are able to store, access, edit, and exchange notes, thoughts, and ideas. The idea came about when some friends and I were out in the garage having a few ciggarettes, and had a few ideas for new oppurtunities. This is osomething we often find ourselves doing, but we never remember to go through with, or even what our ideas were the next day. We had talked about making some type of board that we would just post on when we thought of things. I took that a step farther and thought why not find something online that we can use and add ideas anywhere we are. Building onto that I decided to take it upon myself to do make our very own web app. The main goal is to add some long term memory for some short term thoughts; a few additional "Brain Departments".
  </div>
</div>
