$navbar-default-bg: #333333;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float:left;
  font-size:1.7em;
  color: #ff9900;
  text-transfform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  font-size: 1.5em;
}


/* .navbar-inner{
  background: asset-url("images.jpg");
  background-repeat: repeat-x;
} */

#topbar a{
  color:#ff9900;
}

#topbar a:hover{
  color:#777;
}

#dd a{
  color: #666666;
}

#ddopts a{
  color:666666;
}

.dropdown a:hover{
  color:#ff9900;
}

.dropdown-toggle{
  color:white;
}

.center{
  text-align: center;
}

.jumbotron{
  margin-top: 50px;
  background-image: asset-url("construction.jpg");
  background-size: cover;
  height: 550px;
}

header{

  text-align:center;
  letter-spacing: -1px;
  font-weight: bold;
}

header h1{

  color: #666666;

}

.fix-label{
  padding-right: 100%;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

}
footer a:hover{
  color: #222;
}

footer small{
  float:left;
}

footer ul{
  float:right;
  list-style: none;
}

.table-hover tr:hover{
  font-weight: bold;
  background-color: #b5b0b0;
}

#home_jumbotron{
  background-image: asset-url("logo.png");
  text-align: center;
  font-weight: bold;
}

#container-well{
  background-color:#ff9900;
}

.badge{
  background-color: #CEF65F;
  text-transform: uppercase;
  letter-spacing: -1px;

}

.input_checkbox{
  width: auto !important;
}